*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    overflow: hidden;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

.point
{
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
}

.point #request
{
    position: absolute;
    top: 250px;
    left: -20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #00000077;
    border: 1px solid #ffffff77;
    color: #ffffff;
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
    line-height: 40px;
    font-weight: 100;
    font-size: 14px;
}

.point #text
{
    position: absolute;
    top: -350px;
    left: -150px;
    width: 300px;
    padding: 10px;
    border-radius: 4px;
    background: #00000077;
    border: 1px solid #ffffff77;
    color: #ffffff;
    line-height: 1.3em;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 100;
    font-size: 14px;
}

#request, #text {
    opacity: 0;
    transition: opacity 0.5s ease-in-out; /* Customize the transition duration and easing if desired */
}